body,
html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  height: 100%;
  background: #fbd6c0;
}

#bodymovin {
  width: 300px;
  height: 300px;
  display: block;
  display: flex;
  align-items: flex-end;
}

svg {
  width: 100%;
  height: auto !important;
}
